.page-nav__logo {
    margin-right: 93px; 
    

    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
 }
 
 .page-nav__logo-web {
     
    color: $accent-color;
}
.page-nav__logo-studio  {
    color: $third-text-color;
}
